* {
    
    font-family: "Inter", sans-serif;
    }

main, body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    justify-content: space-evenly;
    padding: 40px;
    

}
.profile__avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;

}
.profile__name {
    color:  hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 20px;
}
.proifle__geo {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    
}
.profile__bio {
    color:  hsl(0, 0%, 100%);
}
.profile__button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}

.profile__button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}
